{%extends 'base.html'%}

 {% block content %}

 <body>

 <div class="container">

        <div class="row">
                <h1 class="text-center" class="well">{{image.name}}</h1>
                <br>
                <h3 class="text-center"><strong>{{image.user}}</strong></h3>
            </div>

    <div class="row">
        <a href="/view_comment/{{image.id}}"><img src="{{image.image.url}}"  class="img-responsive" alt=""></a>
    </div>
    
    <div class="row" >
        <h4 ><strong>Posted on: {{image.post_date}}</strong></h4>
    </div>
       
    <div class="row" >
        <h4 ><strong>Caption: {{image.caption}}</strong></h4>
    </div>
    <div class="nav navbar-nav navbar-right">

            <button class="well"><a href="{%url 'comments'%}"><strong>Comments</strong></a></button>
     
           </div>

    <div class="nav navbar-nav navbar-right">

        <button class="well"><a href="{%url 'like'%}"><strong>Likes</strong></a></button>
     
    </div>     
</div>
       
{% endblock %}
</body>
