{%extends 'base.html'%}

{% block content %}
{{block.super}}

<body>
   <div class="container">
     
      <h3 class="row" style="color:rgb(41, 20, 24);"><strong>{{images.title}}</strong></h3>
      <div>
         <img src="{{images.image.url}}" alt="Image">
      </div>

      <p class="well" class="row" style="color:rgb(41, 20, 24);font-size: 20px;">{{images.description}}</p>
    
         <div id="demo" class="collapse">

            {% for profs in images %}

            <img src="{{profs.image.url}}">

            {% endfor %}

         </div>
      </div>

   </div>
</body>

</html>
{% endblock %}